*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

header{
    height: 100px;
    background-color: #000;
    color: white;
}

.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    width:100px;
}

.logoimg{
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 40px;
}

.menu{
    flex:1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li{
    list-style: none;

}

.menu ul{
    display: flex;

}

.menu li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left:10px;
    padding-right: 10px;
    height: 100px;
    border: 5px solid #000;
}

.menu li a:hover,
.menu .active a{
    border-bottom: 5px solid #b28756;
    color: #eee;
}

.button{
    display: inline-block;
    background-color: #b28756;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius:20px;

}

.banner{
    height: calc(100vh - 100px); /*Usei a função calc e a propriedade vh para calcular de forma automatica a tela do computador do usuário, dessa forma a section banner terá o tamanho da tela do usuário*/
    background-color: #eee;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.banner .sliders {
    width:1000vw;
    height:100%;
}

.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);

}

.banner .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color:#fff;
}

.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span{
    color: #b28756;
}

.banner h2{
    text-transform: uppercase;
    margin-top:20px;
}

.banner .sliders-pointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer{
    width: 15px;
    height: 15px;
    border:2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;

}

.banner .pointer.active{
    background-color: #b28756;
}

.default{
    padding-top: 50px;
    padding-bottom: 50px;

}

.default .section-title, 
.default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title{
    font-size: 20px;
}

.default .section-desc{
    font-size: 12px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-body{
    max-width: 1140px;
    margin: auto;
}

.default.light{
    background-color: #f7f7f7;
}

.default.light .section-title,
.default.light .section-body{
    color:#000;
}

.default.dark{
    background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body{
    color: #fff;
}










/* CSS DE AREAS ESPECIFICAS */
.section-aboutus{
    display: flex;
}

.section-aboutus--left{
    flex:1;
    margin-right: 20px;
}

.section-aboutus--leftp p{
    font-size: 14px;
    line-height: 25px;
    font-weight: 600;
    
}

.section-aboutus--right{
    width: 450px;
    text-align: center;
}

.section-aboutus--right img{
    width: 100%;
    box-shadow: 0px 5px 10px #333;
}

.section-services{
    display: flex;
}

.section-service{
    flex:1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}

.section-service:first-child{
    border-left: 1px solid #333;
}

.section-service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.section-service p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section-projects--filters{
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
    

}

.section-projects ul,
.section-projects--filters li{
    list-style: none;
}

.section-projects--filters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color: #555;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}

.section-projects--filters li:hover,
.section-projects--filters li.active{
    border-bottom: 3px solid #b28756;
}

.section-projects--filters li:first-child{
    border-left: 0;

}

.section-projects--photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo{
    width:280px;
}

.section-projects--photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img{
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.section-projects--photoinfo h5{
    font-size: 18px;
    font-weight: 600;
}

.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
}

.bg-team{
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding:0;
}

.section-team-area{
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 80px;
    padding-bottom: 80px;

}
.section-team{
    overflow: hidden;
    max-width: 880px;
    margin:auto;
}

.section-team .sliders {
    width:1000vw;
    height:100%;
}

.section-team .slide{
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;

}

.section-team .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color:#000;
    padding: 30px;
}

.section-team-area .sliders-pointers{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-team-area .pointer{
    width: 15px;
    height: 15px;
    border:2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;

}

.section-team-area .pointer.active{
    background-color: #b28756;
}

.section-team--avatar{
    width: 150px;
    height: auto;

}

.section-team--name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;

}

.section-team--role{
    font-size: 14px;
    color:#999;
    margin-top: 5px;

}

.section-team--social{    
    display: flex;
    margin-top: 20px;
}

.section-team--social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border-radius: 13px;
    margin-right: 20px;
}

.section-team--social a:hover{
    background-color: #b28756;
}

/*Exercicio*/

.section-happyclients {
    display: flex;
    overflow: hidden;
}

.section-happyclients .sliders {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 1000vw;
    height: 100%;
}

.section-happyclients .slide {
    width: 100vw;
    height: 100%;
    height: 380px;
}

.section-happyclients .slidearea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 600px;
    height: 100%;
    margin-left: 270px;
    padding: 20px;
    color: #000000;
}

.section-happyclients--avatar {
    width: 150px;
    height: auto;
}

.section-happyclients--name {
    margin-top: 30px;

    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

.section-happyclients--role {
    margin-top: 5px;

    color: #000000;
    font-size: 14px;
    text-transform: capitalize;
}

.section-happyclients--quoteimg {
    width: 20px;
    margin-top: 15px;
}

.section-happyclients--quote {
    display: flex;
    margin-top: 20px;

    color: #999999;
    text-align: center;
    font-size: 14px;
}

.section-happyclients .sliders-pointers {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 20px;
    margin-left: 532px;
    margin-top: 380px;
}

.section-happyclients .pointer {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    
    border: 2px solid #b28756;
    border-radius: 8px;

    cursor: pointer;
}

.section-happyclients .pointer.active {
    background-color: #b28756;
}

/* MAIN - SECTION SPONSORS */
.section-sponsors {
    display: flex;
    justify-content: center;
}

.section-sponsors img {
    margin-right: 50px;
}

/* MAIN - SECTION SPONSORS */
.section-price {
    display: flex;
    justify-content: center;
}

.section-price--product {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 250px;
    padding: 20px;
    margin: 0 10px;
    
    background-color: #ffffff;
}

.section-price--name {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}

.section-price--value {
    margin-top: 15px;
    color: #000000;
    font-size: 28px;
    font-weight: 700;
}

.section-price--period {
    margin-bottom: 15px;

    color: #999999;
    font-size: 9px;
    text-transform: uppercase;
}

.section-price--specifications {
    color: #666666;
}

.section-price--line {
    width: 7px;
    height: 1px;
    margin: 5px 0;

    background-color: #666666;
}

/* MAIN - SECTION PREMIUM*/
.section-premium {
    text-align: center;
    overflow: hidden;
}

.section-premium .sliders {
    width: 1000%;
    height: 100%;

    text-align: left;
}

.section-premium .slide {
    display: inline-block;

    width: 10%;
    height: 100%;

    border-bottom: 1px solid #e4e4e4;
}

.section-premium .slidearea {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    height: 100%;
    padding: 20px;
    color: #000000;
}

.section-premium--img {
    width: 300px;
    height: auto;
}

.section-premium--features {
    display: flex;
    flex-direction: column;
}

.check::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -40px;

    display: block;
    width: 25px;
    height: 25px;

    background-image: url("../images/check.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.section-premium--feature {
    position: relative;

    margin-top: 30px;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

.section-premium--description {
    margin-top: 5px;

    color: #999999;
    font-size: 11px;
    text-transform: capitalize;
}

.section-premium--description p {
    text-transform: uppercase;
    margin-top: 5px;
}

.section-premium .sliders-pointers {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 20px;
    margin-top: 30px;
}

.section-premium .pointer {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    
    border: 2px solid #b28756;
    border-radius: 8px;

    cursor: pointer;
}

.section-premium .pointer.active {
    background-color: #b28756;
}

/* MAIN - SECTION SOME */
.section-some {
    display: flex;
}

.section-some--facts {
    display: flex;

    flex: 1;
    flex-direction: column;
    align-items: center;

    padding: 15px;
    
    text-align: center;
}

.section-some--wrapperfacts {
    display: flex;

    flex: 1;
    flex-direction: column;
    align-items: center;
}

.section-some--facts span {
    color: #B28756;
    font-size: 40px;
    font-weight: 700;
}

.section-some--facts .line {
    display: block;

    width: 15px;
    height: 2px;

    background-color: #666666;
}

.section-some--facts h4 {
    margin-top: 5px;

    font-size: 18px;
    text-transform: uppercase;
}

.section-some--facts p {
    margin-top: 5px;

    color: #999999;
    font-size: 13px;
}

.section-tell {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    background-color: #ffffff;
}

.section-tell a {
    margin: 0 15px;

    color: #999999;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.section-tell div {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 13px;
}

.section-tell span {
    margin-left: 3px;
    color: #999999;
    font-size: 8px;
}

.section-tell .bg-twitter {
    background-color: #2AA9E0;
    background-image: url("../images/twitter.png");
}

.section-tell .bg-linkedin {
    background-color: #006699;
    background-image: url("../images/linkedin.png");
}

.section-tell .bg-facebook {
    background-color: #4867AA;
    background-image: url("../images/facebook.png");
}

.section-tell .bg-googleplus {
    background-color: #DD4D42;
    background-image: url("../images/googleplus.png");
}

.section-tell .bg-pinterest {
    background-color: #C62026;
    background-image: url("../images/pinterest.png");
}

/* MAIN - SECTION CONTACT */
.section-contact form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    width: 580px;
    margin: auto;
    padding: 30px;

    text-align: center;
}

.section-contact--wrapper-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.section-contact form input[type=text],
.section-contact form input[type=email] {
    padding: 5px 0;
    background: none;
    border: none;
    border-bottom: 2px solid #cccccc;

    outline: none;
}

.section-contact form input::placeholder {
    color: #cccccc;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-contact form input:nth-of-type(1),
.section-contact form input:nth-of-type(2) {
    width: 48%;
    margin-bottom: 20px;
}

.section-contact form input:nth-of-type(3) {
    margin-bottom: 40px;
}

.section-contact form input:nth-of-type(3),
.section-contact form input:nth-of-type(4) {
    width: 100%;
}

.section-contact form input.button {
    width: 160px;
}